[core]
    pager = "delta --dark"
[alias]
    ac = !git add -A && git commit
	acm = !git add -A && git commit -m
	gst = !git status -sb
	co = !git checkout
	po = !git push origin
	sup = !git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
	pf = !git push --force
	far = !git fetch origin $(git rev-parse --abbrev-ref origin/HEAD | sed \"s|^origin/||\") && git rebase $(git rev-parse --abbrev-ref origin/HEAD)
	arc = !git add -A && git rebase --continue
[delta]
    side-by-side = true
    minus-style = white bold "#8B0000"
    plus-style = black bold "#00FF00"
    navigate = true
[user]
    email = fciner@atlassian.com
    name = Federico Ciner
[push]
    default = simple
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[pull]
    rebase = true
[rerere]
    enabled = true
[pager]
    branch = false
[trace2]
    eventTarget = af_unix:/Users/fciner/.gittrace/trace.sock
    configparams = custom.metacommands
    eventBrief = true
    eventNesting = 1
